body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
}

:root {
  --primary-brand: #4D5AE5;
  --pressed-state: #404BBF;
  --dark: #2E2F42;
  --success: #31D0AA;
  --text: #434455;
  --subtle-text: #8E8F99;
  --accent: #E7E9FC;
  --light: #F4F4FD;
  --modal-overlay: #2E2F42;
  --hero-background: #2E2F42;
  --white-background: #ffffff;
  --modal-background: #FCFCFC;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.div-container {
  display: flex;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  visibility: hidden;
}

.navigation {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid var(--accent);
}

.main {
  padding: 188px 0 188px;
}

.logo-in-header {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.filter-btn:hover {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.filter-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.filter-btn {
  color: var(--primary-brand);
  background-color: var(--light);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.address {
  font-style: normal;
}

.address-items {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-items:hover,
.address-items:focus {
  color: #404bbf;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0 100px;
}

.hero-section {
  background-color: var(--modal-overlay);
  padding: 188px 0 188px;
}

.section-two {
  padding: 120px 0 120px;
}

.section-two-list {
  display: flex;
  gap: 24px;
}

.logo-in-footer {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.studio-footer {
  color: #f4f4fd;
}

.studio-header {
  color: #2E2F42;
}

.order-service {
  color: var(--white-background);
  background-color: var(--primary-brand);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

}

.order-service:hover {
  background-color: var(--pressed-state);
}

.order-service:focus {
  background-color: var(--pressed-state);
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-text {
  color: var(--dark);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
}

.menu-text:hover {
  color: var(--pressed-state);
}

.menu-text:focus {
  color: var(--pressed-state);
}

.studio-btn:hover {
  color: var(--pressed-state);
}

.studio-btn:focus {
  color: #404bbf;
}

.hero-title {
  color: var(--white-background);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}

.heading-title {
  color: var(--dark);
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;

}

.section-title {
  color: var(--dark);
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;

}

.members {
  background-color: var(--light);
  margin-bottom: 72px;
}

.feature {
  color: var(--text);
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;


}

.footer-text {
  color: var(--light);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.background-section {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
}

.employee {
  padding: 32px 16px 32px;
}

.images-only {
  width: calc((100% - 48px)/3)
}